@import "tailwindcss";
@import "./animations.css";
@import "./custom.css";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --color-accent: #9c7202;
  --accent-light: #ffd230;
}

body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* ukrywa scrollbar */
  -ms-overflow-style: none; /* IE i stary Edge */
}

@theme {
  --max-w-hd: 1920px;
}

@layer utilities {
  .max-w-hd {
    max-width: var(--max-w-hd);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lime: var(--font-lime);
  --font-bokor: var(--font-bokor);
  --font-ballet: var(--font-ballet);
  --font-diplomata: var(--font-diplomata);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
